.addressContainer {
    width: 100%;
    padding: 1rem;
}

.addAddressForm {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 1rem;
}

.addAddressButton {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 51%;
    padding: 10px;
    padding: 1rem;
    border: 1px solid #D8D8D8;
    font-weight: 800;
    background: none;
}

.nameMobileNumberInput input,
.pincodeLocalityInput input,
.cityStateInput input,
.landmarkAlternatePhoneInput input,
.saveCancelInput button  {
    height: 36px;
    width: 25%;
    padding-left: 10px;
    outline: none;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
}

.saveCancelInput button{
    cursor: pointer;
}

.nameMobileNumberInput,
.pincodeLocalityInput,
.cityStateInput,
.landmarkAlternatePhoneInput,
.saveCancelInput {
    display: flex;
    column-gap: 1rem;
}

.addressInput textarea{
    width: 51%;
    height: 100px;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
    padding: 10px;
}